{% extends 'index.html' %}

{% block content %}
    <div style="text-align: left;font-size: 40px;color: #1b1e21; font-family: 'American Typewriter';width: 74%;height: auto;background-color: #9fcdff">
         <div style="left:50%; font-size: 40px;color: firebrick; font-family: Impact;height: auto;background-color: #9fcdff;">
            <h1 class="mark"><u>INSTRUCTIONS:</u></h1><br>
        </div>
        <p class="text-danger">Visit the Admin page: <a href="http://localhost:8000/admin/">Admin</a></p>
        <p class="text-danger">To visit Admin page go to link: <a href="http://localhost:8000/admin/library/publisher/add/">Add Book</a></p>
        <p class="text-danger">To Manage the each Member Table to generate due or delete that Member: <a href="http://localhost:8000/admin/library/member/">Member</a></p>
    </div>
{% endblock %}